*,
*::before,
*::after {
  box-sizing: border-box;
  margin-right: 0.5rem;
}
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    text-align: center;
}

.form-label {
    font-weight: bold;
}

.form-range {
    width: 100%;
}

.alert {
    margin-top: 20px;
}

#loading {
    margin-top: 20px;
}

.spinner-border {
    width: 2rem;
    height: 2rem;
}
